@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


:root{
  --width: clamp(640px * 0.9, 90vw, 1080px);

  --header-color: rgb(233, 233, 233);
  --tech-grid-rows: 2;
  --tech-grid-columns: 6;

  --cross-size: 21px;
  --border-color: hsla( 0,0%,12% ,1);
  --cross-color: hsla( 0,0%,53% ,1);
  /* --border-color: rgba(255, 255, 255, 0.586); */
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  font-family: 'Chakra Petch', sans-serif;
}

#app{
  height: 100vh;
  width: 100vw;
  background-color: black;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#tech{
  position: relative;
  height: calc(var(--width) / var(--tech-grid-columns) * var(--tech-grid-rows));
  width: var(--width);
  margin: auto;

  display: grid;
  grid-template-rows: repeat(var(--tech-grid-rows), 1fr);
  grid-template-columns: repeat(var(--tech-grid-columns), 1fr);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

#tech-header{
  grid-area: span 1 / span 2;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

  color: var(--header-color);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;

  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 800;
  padding-left: 12.5%;
}
#tech-header p {
  margin: 0;
}

#tech-header-container{
  height: clamp(1.25rem, 2vw, 2rem);
}
.tech-header-span{
  position: absolute;
}

.tech-header-span-down{
  transform-origin: bottom;
}
.tech-header-span-up{
  transform-origin: top;
}


.tech-icon{
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  grid-area: span 1 / span 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tech-img{
  position: absolute;
  width: 40%;
  height: 40%;
  pointer-events: none;
}

.tech-redirect-container{
  grid-area: -1/-1/-2/-2;
}
.tech-redirect{
  position: relative;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-color);
  transition: all 200ms ease-in;
  cursor: pointer;
}
.tech-redirect:hover{
  background-color: var(--border-color);
}
.tech-redirect p{
  scale: 1.5 2;
  translate: 63% -15%;
  pointer-events: none;
}


/* Cross */
.cross{
  height: var(--cross-size);
  width: var(--cross-size);
  position: absolute;
  translate: -50% -50%;
}
.cross-bottom{
  inset: 100% 100%;
}
.cross-half-vertical{
  position: absolute;
  height: var(--cross-size);
  width: calc(var(--cross-size) / 2);
  border-right: 1px solid var(--cross-color);
}
.cross-half-horizontal{
  position: absolute;
  height: calc(var(--cross-size) / 2);
  width: var(--cross-size);
  border-bottom: 1px solid var(--cross-color);
}
/* Cross */